div{
    margin: 10px 0;
}
hr{
    background: rgb(39, 38, 38);
}
#startPage h1{
    font-size: 3.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
#startPage p{
    margin-top: 30px;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#line{
    height: 5px;
}
#rightOrWrong{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
#headbar{
    margin: 0;
}
#viewHighScore:hover{
    color: grey;
}
.btn-sm{
    background-color: rgb(121, 34, 121);
    color: white;
}
.btn-sm:hover{
    background-color: rgb(133, 99, 133);
}
#checkAnswerWrap{
    animation: fade 1.5s;
}
@keyframes fade {
    from { opacity: 1 }
    to { opacity: 0.1 }
}